<p>rooms works!</p>

<div [hidden]="hideRooms">
    Number of Rooms:
    <div
        [ngStyle]="{color: rooms.availableRooms ? 'green' : 'red'}"
        [innerText]="numberOfRooms">
    </div>
</div>

<div *ngIf="rooms.availableRooms > 0">
    Rooms List
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Checkin Time</th>
            <th>Rating</th>
            <!-- <th>Checkout Time</th> -->
        </tr>

        <tr
            [ngClass]="e ? 'even': 'odd'"
            *ngFor="let room of roomList; let e=even; let o=odd; let i=index"
        >
            <td>{{ i | percent }}</td>
            <td>{{ e ? 'Even' : 'Odd' }}</td>
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.roomType }}</td>
            <td>{{ room.price | currency : 'PKR' }}</td>
            <td>{{ room.amenities | lowercase }}</td>
            <td>{{ room.checkInTime | date : 'dd/MM/yyyy' }}</td>
            <td>{{ room.rating | number : '1.2-2' }}</td>
            <!-- <td>{{ room.checkOutTime | date : 'shortDate'}}</td> -->
        </tr>
    </table>
</div>
